<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
</div>
<div class="form-group">
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
</div>
<div class="form-group">
    <button class="btn btn btn-primary">Ajoutez</button>
</div>